/*BOX MODEL STYLE*/
#boxmodel p{
    border: 2px dashed;
}

#boxmodel{
    padding: 10px 20px;
    border: 15px solid green;
    margin: 20px;
    height: 150px;
    width: 700px;
}

#boxoutline{
    border: 2px dashed;
    width: 810px;
}

